### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr
.gradle/
gradel/
gradlew*
.idea/
!.idea/runConfigurations/*
