group: edge
dist: trusty

language: java
jdk: oraclejdk8

install: true
before_install:

  # install docker-compose
  - sudo apt update
  - sudo apt install -y python-pip curl jq libxml2-utils
  - sudo pip install docker-compose
  - sudo usermod -aG docker $(whoami)

  # kill whatever punning on postgres / rabbitmq port
  - sudo kill $(sudo lsof -t -i:5432) | true
  - sudo kill $(sudo lsof -t -i:5672) | true

script: bash gradlew clean ci
after_script: bash gradlew --stop

cache:
  directories:
    - $HOME/.gradle/
    - .gradle/
